.btn.btn-primary{
    border-radius: 20px;
    width:150px;
    text-align: center;
    margin-bottom: 5px;
}
.boton-test{
    display:flex;
    justify-content: center;
}
.btn.btn-primary:hover{
    background-color: rgb(24, 24, 69);
}