nav {
    background: linear-gradient(to right, rgb(17, 39, 54), rgb(19, 45, 54));
    color: white;
    padding-left: 0rem;
}

.logo {
    width: 6%; 
}

.nombre-app {
    margin-left: 1%;
    font-size: 2.5vh; 
}

/* Con esto evitamos que el titulo de los enlaces del navbar se dividan en varias líneas */
.navbar-nav .nav-item {
    white-space: nowrap; 
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link:hover {
    color: #6c757d;
}

.navbar-toggler-icon {
    background-color: white; 
}


@media (max-width: 800px) {
    .logo{
        width: 15%;
    }
    
    .nombre-app {
        margin-left: 3%;
        font-size: 2vh; 
    }
}