body{
    font-family: 'Poppins', sans-serif !important; /* Cambiar a Poppins */
}
.custom-box {
    background-color: #bbd1e7; 
    border: 0.125rem solid #07063a; 
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1); 
    border-radius: 0.9375rem; 
}

.custom-title {
    color: #0b213d; 
    font-family: 'Poppins', sans-serif; /* Cambiar a Poppins */
    font-weight: bold;
}

.custom-text {
    color: #282a2c; 
    font-size: 0.9rem; 
    font-family: 'Poppins', sans-serif; 

    width: bold;
}

.custom-button {
    background-color: #07063a !important;
    color: white !important;
    border-radius: 1.875rem !important; 
    padding: 0.75rem 1.875rem !important; 
    font-size: 1rem !important;
    font-weight: bold !important;
}

body{
    background-color: rgb(221, 218, 218) !important;
}